@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-principal: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;

    --fuente-monserrat: 'Montserrat', sans-serif;
    --fuente-krona: 'Krona One', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.header {
    padding-top: 2%;
    paddinG: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 40px;

}

.header__menu__link{
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
}

.presentacion {
    margin: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario); ;
}


.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px; 
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;

}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-monserrat);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap : 16px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-principal);
}


.presentacion__imagen{
    width: 50%;
}

.footer{
    background-color:var(--color-terciario);
    padding: 24px;
    color: var(--color-principal);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
} 

 @media (max-width: 1200px){

    .presentacion{
        flex-direction: column-reverse;
    }
 }